body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audioPlayer {
  box-shadow: 0 0 32px 4px rgba(0, 0, 0, 0.2);
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  display: flex;
  padding: 10px 10px;
  background-color: black;
  border-radius: 20px;
}
.audioPlayer section {
  padding: 20px;
  width: 20%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}
.audioPlayer section a {
  margin: 10px 0;
  color: white;
  text-decoration: none;
}
.audioPlayer section select {
  margin: 15px;
  width: 50%;
}
.audioPlayer canvas {
  flex: 2;
}